* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    color: #000;
    border-radius: 5px;
    margin: 20px 10px;
    padding: 13px 15px 10px;
}

.content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info h2 {
    font-size: 16px;
}

.info p {
    font-size: 15px;
}

.img img {
    width: 50px;
    border-radius: 5px;
}

.add {
    border: 1px solid #D9D9D9;
    background-color: #6B39FC;
    color: #fff;
    border-radius: 20px;
    padding: 6px 17px;
    cursor: pointer;
}

.add:hover {
    border: 1px solid #6B39FC;
}

/* Plalist */

.playlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    color: #000;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 13px 15px 10px;
}

.remove {
    background-color: transparent;
    border: 1.5px solid #6B39FC;
    border-radius: 20px;
    color: #6B39FC;
    padding: 6px 17px;
    cursor: pointer;
}

@media only screen and (max-width: 375px) {

    .result {
        padding: 10px 15px 7px;
        margin: 20px 0px;
    }

    .img img {
        width: 40px;
        border-radius: 5px;
    }

    .info h2 {
        font-size: 15px;
    }
    
    .info p {
        font-size: 13px;
    }

    .album {
        display: none;
    }

}

@media only screen and (max-width: 425px) {

    .result {
        padding: 10px 15px 7px;
        margin: 20px 0px;
    }

    .img img {
        width: 40px;
        border-radius: 5px;
    }

    .info h2 {
        font-size: 15px;
    }
    
    .info p {
        font-size: 13px;
    }

    .album {
        display: none;
    }

}