
.bar {
    display: flex;
    align-items: center;
}

.bar button {
    font-size: 17px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.search {
    padding: 5px 10px;
    font-size: 17px;
    background-color: #434343;
    border-radius: 5px;
    color: #fff;
    min-width: 275px;
    border: none;
    margin: 15px 10px;
    padding: 10px 15px;
}

@media only screen and (max-width: 375px) {

    .bar {
        gap: 10px;
        margin-bottom: 10px;
    }

    .bar button {
        font-size: 13px;
        padding: 10px;
    }


    .search {
        font-size: 15px;
        padding: 10px 10px;
        margin: 0 ;
        min-width: 200px;
    }
}

@media only screen and (max-width: 425px) {

    .bar {
        gap: 10px;
        margin-bottom: 10px;
    }

    .bar button {
        font-size: 13px;
        padding: 10px;
    }


    .search {
        font-size: 15px;
        padding: 10px 10px;
        margin: 0 ;
        min-width: 218px;
    }
}